.about-section {
  p {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.12;
    opacity: 0;
    margin: 10px;
    mix-blend-mode: difference;
    padding: 0vw 5vw;

    > div {
      opacity: 0;
      transform: translateY(0px);
    }
    &.is-reveal {
      opacity: 1;
      mix-blend-mode: difference;
    }
  }
}
