.featured-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  align-items: center;
  overflow-y: hidden;
  img {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
    &.is-reveal {
      clip-path: inset(0% 0% 0% 0%);
    }
  }
  


  

  .featured-row-layout {
    grid-template-rows: repeat(2, auto);
    overflow-y: hidden;
    img {
      padding-left: 5vw;
      padding-right: 5vw;
      width: 100%;
      height: 60vh;
      // height: 100%;
      object-fit: cover;
    }
  }
  .featured-column-layout {
    grid-template-columns: 100px auto;
    align-items: flex-end;
    overflow-y: hidden;
    img {
      padding: 5vw;
      padding-left: 10vw;
      padding-right: 5vw;
      width: 90%;
      height: 125vh;
      object-fit: cover;
    }

    
    
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  
  .featured-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    align-items: center;
    overflow-y: hidden;
    img {
      clip-path: inset(100% 0% 0% 0%);
      transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
      &.is-reveal {
        clip-path: inset(0% 0% 0% 0%);
      }
    }
  
    
  
    .featured-row-layout {
      grid-template-rows: repeat(2, auto);
  
      img {
        padding-left: 5vw;
        width: 130%;
        height: 20vh;
        // height: 100%;
        object-fit: cover;
      }
    }
    .featured-column-layout {
      grid-template-columns: 100px auto;
      align-items: flex-end;
      img {
        padding-left: 19vw;
        padding-right: 2vw;
        width: 70%;
        height: 30vh;
        object-fit: cover;
      }
      
    }
  }
}

