
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header{
  padding: 0px;
  height: 110vh;
  width: 100vw;
}
.header-container{
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #F0ECBD;
  overflow-y: hidden;
  margin: 0;
  
  .header-menu{
    position: absolute;
    left: 0;
    top: 100px;

    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: #626262;
    font-weight: 600;
    text-transform: uppercase;
    
    li {
      margin: 10px 0;
    }
  }
  
  img {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    padding-top: 17%;
    font-size: 10vw;
    text-align: left;

    font-family: 'OpenNowMedium', sans-serif;
    font-weight: 400;
    padding-left: 5vw;
    color: white;
    z-index: 1;
   
   
  }
  .logo {
    position: absolute;
    $size: 80px;
    width: $size;
    height: $size;
    z-index: 1;
    top: 0%;
    left: 50%;

  }

}

.lineParent{
  overflow: hidden;
  .lineChildren{
    transform: translate(0, 500px);
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px)  {
  .header {
    height: 100vh;
  }
  .logo {
    visibility: hidden;
  }
  .header-container {
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #F0ECBD;
   overflow-y: hidden;
   margin: 0;
   h1{
    position: absolute;
    padding-left: 7vw;
    padding-top: 60%;
    font-size: 85px;

  }
 
  }
}