
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.header{
  top: 0;
  height: 70vh;
  width: 100%;
  background-color: #F0ECBD;
  overflow-y: hidden;
  
}
.header-container {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}
.header-img{
  background-size: cover;
  opacity: 1;
  
}

.lineParent{
  overflow: hidden;
  .lineChildren{
    transform: translate(0, 500px);
  }
}