.navbar {
  display: flex;
  justify-content: space-between;

  padding: 0px 0;
  font-size: 24px;

  letter-spacing: 1px;
  font-family: "NowRegular", sans-serif;
  color: #464646;
  font-weight: 600;
  text-transform: uppercase;
  mix-blend-mode: difference;
  background-color: #f5f0ec;
  overflow-y: hidden;
  
  .navbar-container{
    $size: 100px;
    width: $size;
    height: $size;
    z-index: 1;
  }
  .logo {
    $size: 100px;
    width: $size;
    height: $size;
  }
}
