
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.footer {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 30px;
  width: 100%;
  background-color: #f5f0ec;
  overflow-y: hidden;
  .location {
    font-size: 12vw;
    text-transform: uppercase;
    font-family: "Roboto",'OpenNowBold', sans-serif;

    opacity: 0;
    &.is-reveal {
      opacity: 1;
    }
  }
}
.contact {
  display: flex;
  justify-content: space-between;
  padding: 5vw;
  margin: 5vw;
  align-items: center;
 
}

img {
  $size: 100px;
  width: $size;
  height: $size;
  background-size: cover;
}

